body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.stamp {
  transform: rotate(12deg);
	color: #555;
	font-size: 1rem;
	font-weight: 700;
	border: 0.25rem solid #555;
	display: inline-block;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	border-radius: 1rem;
	font-family: 'Courier';
	-webkit-mask-image: url('./assets/grunge.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;
}

.is-nope {
  color: #D23;
  border: 0.5rem double #D23;
  transform: rotate(3deg);
	-webkit-mask-position: 2rem 3rem;
  font-size: 2rem;  
}

.is-approved {
	color: #0A9928;
	border: 0.5rem solid #0A9928;
	-webkit-mask-position: 2rem 3rem;
	transform: rotate(3deg);
  border-radius: 0;
  font-size: 2rem; 
} 

.is-draft {
	color: #C4C4C4;
	border: 1rem double #C4C4C4;
	transform: rotate(-5deg);
  font-size: 6rem;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  border-radius: 0;
  padding: 0.5rem;
} 






  
  .btn {
      margin-bottom: 5px;
  }
  
  .grid {
      position: relative;
      width: 100%;
      background: #fff;
      color: #666666;
      border-radius: 2px;
      margin-bottom: 25px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .grid .grid-body {
      padding: 15px 20px 15px 20px;
      font-size: 0.9em;
      line-height: 1.9em;
  }
  
  .search table tr td.rate {
      color: #f39c12;
      line-height: 50px;
  }
  
  .search table tr:hover {
      cursor: pointer;
  }
  
  .search table tr td.image {
    width: 50px;
  }
  
  .search table tr td img {
    width: 50px;
    height: 50px;
  }
  
  .search table tr td.rate {
    color: #f39c12;
    line-height: 50px;
  }
  
  .search table tr td.price {
    font-size: 1.5em;
    line-height: 50px;
  }
  
  .search #price1,
  .search #price2 {
    display: inline;
    font-weight: 600;
  }